Skripti vattenfallin sivuilta ladattujen hintatiedostojen yhdistämiseen. Tallenna xlsx tiedostot hinta_data nimiseen kansioon ennen skriptin ajamista.

In [1]:
import pandas as pd
import os

In [2]:
files = os.listdir("./hinta_data")

In [3]:
df = pd.DataFrame()
df_combined = pd.DataFrame()
for file in files:
    print(file)
    path = "./hinta_data/" + str(file)
    df = pd.read_excel(path, engine='openpyxl')
    df.rename(columns={ df.columns[1]: "Hinta" }, inplace = True)
    df_combined = pd.concat([df_combined, df])
    
df_combined[['Vuosi','Kuukausi', 'Paiva']] = df_combined['Ajanjakso'].str.split('-',expand=True)
df_combined[['Paiva', 'Kellonaika']] = df_combined['Paiva'].str.split(' ',expand=True)
df_combined[['Kellonaika', 'turha1', 'turha2']] = df_combined['Kellonaika'].str.split(':',expand=True)

data - 2022-07-21T193733.566.xlsx
data - 2022-07-21T193532.537.xlsx
data (41).xlsx
data - 2022-07-21T193524.045.xlsx
data - 2022-07-21T193157.486.xlsx
data - 2022-07-21T193212.459.xlsx
data (75).xlsx
data - 2022-07-21T193716.569.xlsx
data - 2022-07-21T193452.052.xlsx
data (67).xlsx
data (82).xlsx
data (99).xlsx
data - 2022-07-21T193547.497.xlsx
data (28).xlsx
data - 2022-07-21T193150.997.xlsx
data - 2022-07-21T193621.496.xlsx
data - 2022-07-21T193727.100.xlsx
data - 2022-07-21T193329.108.xlsx
data - 2022-07-21T193333.556.xlsx
data - 2022-07-21T193606.535.xlsx
data - 2022-07-21T193220.945.xlsx
data (15).xlsx
data (38).xlsx
data - 2022-07-21T193638.500.xlsx
data (60).xlsx
data - 2022-07-21T193644.604.xlsx
data (6).xlsx
data - 2022-07-21T193513.501.xlsx
data (32).xlsx
data (48).xlsx
data - 2022-07-21T193642.587.xlsx
data - 2022-07-21T193216.504.xlsx
data - 2022-07-21T193222.993.xlsx
data (10).xlsx
data (19).xlsx
data - 2022-07-21T193127.548.xlsx
data - 2022-07-21T193416.031.xlsx
data (13).xlsx
data (63).xlsx
data - 2022-07-21T193310.089.xlsx
data - 2022-07-21T193428.596.xlsx
data (62).xlsx
data (20).xlsx
data - 2022-07-21T193227.042.xlsx
data - 2022-07-21T193131.935.xlsx
data - 2022-07-21T193712.528.xlsx
data - 2022-07-21T193420.098.xlsx
data - 2022-07-21T193742.053.xlsx
data (91).xlsx
data - 2022-07-21T193229.469.xlsx
data - 2022-07-21T193729.514.xlsx
data - 2022-07-21T193148.977.xlsx
data (61).xlsx
data - 2022-07-21T193647.021.xlsx
data - 2022-07-21T193337.591.xlsx
data - 2022-07-21T193553.603.xlsx
data - 2022-07-21T193500.588.xlsx
data (46).xlsx
data - 2022-07-21T193721.011.xlsx
data (65).xlsx
data (83).xlsx
data - 2022-07-21T193632.019.xlsx
data - 2022-07-21T193352.578.xlsx
data (80).xlsx
data - 2022-07-21T193708.079.xlsx
data (78).xlsx
data - 2022-07-21T193144.515.xlsx
data (55).xlsx
data (86).xlsx
data - 2022-07-21T193714.537.xlsx
data - 2022-08-02T152452.170.xlsx
data - 2022-07-21T193210.023.xlsx
data - 2022-07-21T193443.593.xlsx
data (37).xlsx
data (92).xlsx
data (49).xlsx
data - 2022-07-21T193617.089.xlsx
data - 2022-07-21T193153.052.xlsx
data (95).xlsx
data - 2022-07-21T193615.027.xlsx
data - 2022-07-21T193558.043.xlsx
data - 2022-07-21T193534.586.xlsx
data - 2022-08-02T152442.398.xlsx
data - 2022-07-21T193640.546.xlsx
data - 2022-07-21T193710.127.xlsx
data - 2022-07-21T193608.568.xlsx
data - 2022-07-21T193701.596.xlsx
data (24).xlsx
data (94).xlsx
data - 2022-07-21T193422.509.xlsx
data - 2022-08-02T152455.804.xlsx
data - 2022-07-21T193522.142.xlsx
data (33).xlsx
data - 2022-07-21T193541.031.xlsx
data - 2022-07-21T193655.512.xlsx
data - 2022-07-21T194309.139.xlsx
data - 2022-07-21T193335.543.xlsx
data - 2022-07-21T193610.584.xlsx
data - 2022-07-21T193445.593.xlsx
data (47).xlsx
data - 2022-07-21T193303.652.xlsx
data - 2022-07-21T193600.089.xlsx
data (51).xlsx
data - 2022-07-21T193155.431.xlsx
data - 2022-07-21T193636.096.xlsx
data - 2022-07-21T193627.593.xlsx
data (17).xlsx
data - 2022-07-21T193259.555.xlsx
data - 2022-07-21T193706.044.xlsx
data - 2022-07-21T193630.014.xlsx
data - 2022-07-21T193517.573.xlsx
data (54).xlsx
data - 2022-07-21T193357.003.xlsx
data - 2022-07-21T193323.012.xlsx
data - 2022-07-21T193354.601.xlsx
data (1).xlsx
data (90).xlsx
data (84).xlsx
data (26).xlsx
data - 2022-07-21T193456.510.xlsx
data - 2022-07-21T193556.008.xlsx
data (36).xlsx
data - 2022-07-21T193604.502.xlsx
data (5).xlsx
data - 2022-07-21T194256.289.xlsx
data (50).xlsx
data - 2022-07-21T193320.596.xlsx
data - 2022-07-21T193201.503.xlsx
data - 2022-07-21T193318.553.xlsx
data - 2022-07-21T193653.084.xlsx
data - 2022-07-21T193146.932.xlsx
data - 2022-07-21T193411.596.xlsx
data (3).xlsx
data (23).xlsx
data - 2022-07-21T193350.555.xlsx
data (40).xlsx
data (25).xlsx
data - 2022-07-21T193405.514.xlsx
data (68).xlsx
data (71).xlsx
data - 2022-07-21T193312.096.xlsx
data (53).xlsx
data - 2022-07-21T193208.040.xlsx
data - 2022-07-21T193331.503.xlsx
data - 2022-07-21T193718.594.xlsx
data - 2022-07-21T193340.031.xlsx
data (88).xlsx
data - 2022-07-21T193435.071.xlsx
data (58).xlsx
data - 2022-07-21T193159.483.xlsx
data (11).xlsx
data - 2022-07-21T193233.511.xlsx
data (43).xlsx
data - 2022-07-21T193426.579.xlsx
data (35).xlsx
data - 2022-07-21T193308.039.xlsx
data - 2022-07-21T193551.581.xlsx
data - 2022-07-21T193511.123.xlsx
data - 2022-07-21T193314.513.xlsx
data (27).xlsx
data - 2022-07-21T193424.549.xlsx
data (45).xlsx
data (22).xlsx
data - 2022-07-21T193439.505.xlsx
data (98).xlsx
data (30).xlsx
data.xlsx
data - 2022-07-21T193454.108.xlsx
data - 2022-07-21T193649.029.xlsx
data - 2022-07-21T193530.501.xlsx
data - 2022-08-02T152448.325.xlsx
data (89).xlsx
data - 2022-07-21T193725.061.xlsx
data (42).xlsx
data (34).xlsx
data (74).xlsx
data - 2022-07-21T193723.034.xlsx
data (2).xlsx
data (85).xlsx
data - 2022-07-21T193403.106.xlsx
data - 2022-07-21T193526.071.xlsx
data - 2022-07-21T193549.533.xlsx
data - 2022-07-21T193623.532.xlsx
data - 2022-07-21T193657.528.xlsx
data - 2022-07-21T193539.042.xlsx
data (66).xlsx
data (39).xlsx
data - 2022-07-21T193325.031.xlsx
data - 2022-07-21T193519.601.xlsx
data - 2022-07-21T193613.004.xlsx
data - 2022-07-21T193731.677.xlsx
data (14).xlsx
data - 2022-07-21T193437.111.xlsx
data (77).xlsx
data - 2022-07-21T193301.595.xlsx
data (70).xlsx
data (76).xlsx
data - 2022-07-21T193441.541.xlsx
data (59).xlsx
data (97).xlsx
data - 2022-07-21T193625.568.xlsx
data - 2022-07-21T193509.085.xlsx
data - 2022-07-21T193348.520.xlsx
data (7).xlsx
data - 2022-07-21T193448.001.xlsx
data (44).xlsx
data (4).xlsx
data - 2022-07-21T193138.416.xlsx
data - 2022-07-21T193504.980.xlsx
data - 2022-07-21T193515.543.xlsx
data - 2022-07-21T193225.028.xlsx
data - 2022-07-21T193545.092.xlsx
data - 2022-07-21T193458.568.xlsx
data - 2022-07-21T193133.991.xlsx
data - 2022-07-21T193651.057.xlsx
data - 2022-07-21T193502.593.xlsx
data - 2022-07-21T193327.079.xlsx
data - 2022-07-21T193235.560.xlsx
data - 2022-07-21T193129.939.xlsx
data - 2022-07-21T193418.071.xlsx
data (16).xlsx
data - 2022-07-21T193342.048.xlsx
data - 2022-07-21T193528.095.xlsx
data - 2022-07-21T193206.055.xlsx
data (72).xlsx
data - 2022-07-21T193142.488.xlsx
data (96).xlsx
data - 2022-07-21T193316.555.xlsx
data - 2022-07-21T193203.988.xlsx
data (73).xlsx
data (57).xlsx
data - 2022-07-21T193409.580.xlsx
data - 2022-07-21T193735.589.xlsx
data - 2022-07-21T193659.557.xlsx
data (18).xlsx
data (29).xlsx
data (69).xlsx
data (8).xlsx
data - 2022-07-21T193740.037.xlsx
data (64).xlsx
data - 2022-07-21T193231.498.xlsx
data - 2022-07-21T193401.080.xlsx
data - 2022-07-21T193737.998.xlsx
data - 2022-07-21T193214.484.xlsx
data (87).xlsx
data - 2022-07-21T193536.597.xlsx
data - 2022-07-21T193619.118.xlsx
data - 2022-07-21T193344.073.xlsx
data - 2022-07-21T193140.456.xlsx
data - 2022-07-21T193430.996.xlsx
data (31).xlsx
data - 2022-07-21T193450.048.xlsx
data (56).xlsx
data - 2022-07-21T193414.012.xlsx
data - 2022-07-21T193602.086.xlsx
data (81).xlsx
data (21).xlsx
data (12).xlsx
data (9).xlsx
data - 2022-07-21T193359.042.xlsx
data - 2022-07-21T193703.984.xlsx
data (52).xlsx
data - 2022-07-21T193218.553.xlsx
data - 2022-07-21T193136.023.xlsx
data - 2022-08-02T152433.040.xlsx
data - 2022-07-21T193306.017.xlsx
data (100).xlsx
data - 2022-07-21T193346.092.xlsx
data - 2022-07-21T193433.062.xlsx
data (79).xlsx
data - 2022-07-21T193543.077.xlsx
data - 2022-07-21T193744.103.xlsx
data - 2022-07-21T193407.534.xlsx
data - 2022-07-21T193634.061.xlsx
data (93).xlsx
data - 2022-07-21T193507.037.xlsx

In [4]:
df_combined.drop(['Ajanjakso', 'turha1', 'turha2'], axis=1, inplace=True)

In [5]:
df = df_combined
file_name = "porssidata"
df.to_pickle(file_name)

In [6]:
df

     Hinta Vuosi Kuukausi Paiva Kellonaika
0     3.38  2017       06    19         00
1     3.28  2017       06    19         01
2     3.24  2017       06    19         02
3     3.18  2017       06    19         03
4     3.15  2017       06    19         04
..     ...   ...      ...   ...        ...
187   6.50  2018       10    22         19
188   6.47  2018       10    22         20
189   5.58  2018       10    22         21
190   5.45  2018       10    22         22
191   5.18  2018       10    22         23

[52820 rows x 5 columns]

In [7]:
df.loc[(df['Vuosi'] == '2022')
      & (df['Kuukausi'] == '07')
      & (df['Paiva'] == '31')]

     Hinta Vuosi Kuukausi Paiva Kellonaika
120  24.57  2022       07    31         00
121  15.96  2022       07    31         01
122   9.21  2022       07    31         02
123   7.59  2022       07    31         03
124   5.94  2022       07    31         04
125   2.94  2022       07    31         05
126   7.18  2022       07    31         06
127   9.43  2022       07    31         07
128  19.66  2022       07    31         08
129  25.09  2022       07    31         09
130  25.09  2022       07    31         10
131  27.12  2022       07    31         11
132  25.21  2022       07    31         12
133  25.09  2022       07    31         13
134  25.09  2022       07    31         14
135  25.09  2022       07    31         15
136  25.09  2022       07    31         16
137  25.09  2022       07    31         17
138  25.09  2022       07    31         18
139  27.24  2022       07    31         19
140  27.32  2022       07    31         20
141  26.21  2022       07    31         21
142  26.86  2022       07    31         22
143  18.79  2022       07    31         23